<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node.js</title>
    <% include partial/bootsrap.ejs %>
    <link href="/styles/css.css" rel="stylesheet" type="text/css">
</head>
<body>
    <% include partial/navigation-bar.ejs %>
    <div class="container">
        <h1><%=title%></h1>
        <p class="contents"></p>
    </div>
</body>
</html>