<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node.js</title>
    <link href="/styles/css.css" rel="stylesheet" type="text/css">
</head>
<body>
<% include partial/navigation-bar.ejs%>
<h1>Token</h1>
<p class="contents"></p>
<p>This is the token : </p>
</body>
</html>